
<%- include("header")%>
<section class="marging" style="margin-bottom: 5%;">
  <center><h2>TRANSACTION HISTORY</h2></center>
  <HR>
    <table class="table table-striped customerlist-table">
      <thead>
        <tr>
          <th>SR. NO.</th>
          <th>SENDER</th>
          <th>RECEIVER</th>
          <th>TRANSFER AMT</th>
          <th>DATE</th>
        </tr>
      </thead>
      <tbody>
        <%transactions.forEach(function(transaction){%>
          <tr>
            <td><%=i%></td>
            <td><%=transaction.sender%></td>
            <td><%=transaction.receiver%></td>
            <td><%=transaction.amount%></td>
            <td><%=transaction.date%></td>
          </tr>
          <%i++;%>
        <%})%>
      </tbody>
    </table>
</section>
<%- include("footer")%>
